@import "tailwindcss";

@theme {
  --color-void: #0a0a0d;
  --color-line: #e4e4f7;
  --color-accent: #a3a3d9;
  --color-critical: #ff6b6b;
  --color-high: #ffa94d;
  --color-medium: #ffd43b;
  --color-low: #69db7c;
  --font-mono-lurk: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--color-void);
  color: var(--color-line);
  font-family: var(--font-mono-lurk);
}